body {
    background-color: white;
    font-family: "Roboto";
    font-size: 22px;
}

h1 {
    color: #80EF80;
    text-align: center;
}

h3 {
    color: #ADEBB3;
}

.title {
    text-align: center;
}

.doughnutCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.input-container {
    display: flex;
    gap: 20px;
    text-align: center;
}

.input-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ADEBB3;
}
